
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Incluir</title>
</head>
<body>
    <div>
        <h1>Cadastro realizado com sucesso</h1>
    </div>
</body>
</html>
